
body{
    text-align: center;
    background-color: darkolivegreen;
    color: white;
    font-size: 1.2em;
}
.countdown{
    padding: 9px;
    margin: 20px auto;
    display: none;
    font-weight: bold;
   font-size: 1.5em;
}
.container p{
    display: inline;
    margin: 10px;
    font-size: 35px;
}
.container{
    display: none;
}
.answerClass{
    width: 75px;
    height: 45px;
    font-size: 35px;
}
.playAgain{
    padding: 10px;
    font-size: 16px;
    background-color: darkblue;
    border-color: darkolivegreen;
    color: white; 
    display: inline-block;
    text-align: center;
}
.startBtn, .playAgainBtn{
    padding: 20px;
    font-size: 20px;
    margin-top: 30px;
    background-color: darkblue;
    border-color: darkolivegreen;
    color: white; 
    display: inline-block;
    text-align: center;
}
.nextBtn{
    background-color: inherit;
    border: none;
}
.name{
    position: relative;
    bottom: 0px;
    text-align: center;
    right: 0px;
    left: 0px;
}
@media screen and (max-width: 500px){
    .container p{
        margin: 4px;
    }
  
    
}
