
body{
    text-align: center;
    background-color: darkolivegreen;
    color: white;
    font-size: 1.2em;
}
#counter{
    padding: 10px;
    margin: 20px auto;
    width: 100px;
    display: none;
}
.container p{
    display: inline;
    margin: 10px;
    font-size: 35px;
}
#question{
    display: none;
}
#answer{
    width: 75px;
    height: 45px;
    font-size: 35px;
}
.playAgain{
    padding: 10px;
    font-size: 16px;
    background-color: darkblue;
    border-color: darkolivegreen;
    color: white; 
    display: inline-block;
    text-align: center;
}
#start, #btn, #playAgain{
    padding: 20px;
    font-size: 20px;
    margin-top: 30px;
    background-color: darkblue;
    border-color: darkolivegreen;
    color: white; 
    display: inline-block;
    text-align: center;
}
